@import url("https://fonts.googleapis.com/css?family=Bangers");

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #000000, #5d606b);
  margin: 0;
  padding: 0;
  text-align: center;
}



p {
  font-size: 16px;
  color: #555;
}

/* Estilos para enlaces */
a {
  display: inline-block;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 10px 5px;
  transition: background 0.3s;
}
button,
a {
  background-color: #000000;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  display: inline-block;
  margin: 10px 5px;
  transition: background 0.3s;
}

button:hover,
a:hover {
  background-color: #8b0000; /* Rojo oscuro */
}

/* Estilos para mensajes */
p[style*="color: green"] {
  font-weight: bold;
  margin-top: 10px;
}
