body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #000000, #5d606b);
  color: #fefefe;
}
.logout-button {
  position: absolute; /* Para colocarlo en la esquina superior derecha */
  top: 10px;
  right: 20px;
  color: white;
  background-color: #000000;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
}

.logout-button:hover {
  background-color: #5b0000;
}
h1 {
  display: block;
  font-size: 3em;
  line-height: 1.2;
  background: linear-gradient(to top, #000000, #ff0000, #000000);
  -webkit-background-clip: text;
  color: transparent;
  margin: 20px 10px 10px 10px;
  word-break: break-word;
  text-align: center;
}
nav {
  background: linear-gradient(to right, #d5d5d5, #1b0061);
  box-shadow: 3px 3px 3px black;
  border-radius: 10px;
  text-align: center;
}

.navbar {
  color: white;
  padding: 20px;
  font-size: 24px;
  text-align: center;
}

.navbar nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
  text-align: center;
}

.navbar nav a:hover {
  text-decoration: underline;
}
.titulo {
    font-size: 3em;
    margin-top: 30px;
    background: linear-gradient(to top, #000000, #ff0000, #000000);
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    padding: 30px;
    margin-top: 20px;
  }
  
  .tarjeta {
    background: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .tarjeta:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4);
  }
  
  .tarjeta h2 {
    margin-bottom: 10px;
    font-size: 1.8em;
  }
  
  .tarjeta p {
    margin: 5px 0;
    color: #333;
  }
  
  .tarjeta a {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #565656;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .tarjeta a:hover {
    background-color: #5b0000;
  }
  
  .Postear {
    display: inline-block;
    margin: 10px;
    padding: 10px 15px;
    background-color: #565656;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    text-align: left;
  }
  
  .Postear:hover {
    background-color: #5b0000;
  }
  
  /* Responsive Touch */
  @media (max-width: 600px) {
    .titulo {
      font-size: 2em;
    }
  
    .tarjeta h2 {
      font-size: 1.4em;
    }
  }
  