<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'style/login.css' %}"
    />
    <!-- <script src="main.js"></script> -->
  </head>
  <body>
    <h1>Iniciar sesión</h1>

    {% for mensaje in messages %}
    <p style="color: rgb(1, 99, 1)">{{ mensaje }}</p>
    {% endfor %}

    <form method="POST">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit">Iniciar Sesión</button>
    </form>

    <p>
      ¿Aún no tienes cuenta?
      <a href="{% url 'registro' %}"> ¡Registrate, es gratis! </a>
    </p>
    <p><a href="{% url 'home' %}">Vuelve al inicio</a></p>
  </body>
</html>
