{% extends 'base.html' %}
{% load static %}
{% block title%} Post List {% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'style/post.css' %}" />
<h1 class="titulo">Lista de posts </h1> <nav>
    <a
      href="{% url 'mipag' %}"
      target="_self"
      style="
        box-shadow: 3px 3px 3px #1e3b59 (128, 128, 128, 0.512);
        border-radius: 8px;
        color: white;
      "
      >HTML
    </a>
    <a
      href="{% url 'ppt' %}"
      target="_self"
      style="
        box-shadow: 3px 3px 3px #1e3b59 (128, 128, 128, 0.512);
        border-radius: 8px;
        color: white;
      "
      >JAVA SCRIPT
    </a>
    <a
      href="{% url 'post_list' %}"
      target="_self"
      style="
        box-shadow: 3px 3px 3px #1e3b59 (128, 128, 128, 0.512);
        border-radius: 8px;
        color: white;
      "
      >POST
    </a>
    <a href="{% url 'logout' %}" class="logout-button">Cerrar sesión</a>
  </nav>
<a href="{% url 'post_create' %}" class="Postear">Crea un  nuevo Post</a>
<a href="{% url 'tag_list' %}" class="Postear">Lista de tags</a>
<div class="grid">
    
</div>
{% endblock %}
{% block extra_js %}
<script src="{% static 'js/post_list.js '%}"></script>
{% endblock %}