{% extends 'base.html' %}

{% block title %}Detalles del Post{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style/post.css' %}" />
    <h1>{{ object.title }}</h1>
    <p>{{ object.content }}</p>
    <p>Creado por: {{object.author}}</p>
    <p>Fecha: {{ object.created_at }}</p>
    <h6>Tags relacionados:</h6>
    {% for tag in object.tags.all %}
    <ul>
        <li>
            <p>{{ tag.name }}</p>
        </li>
    </ul>
    {% endfor %}

    {% if user.is_superuser or user == object.author %}
    <a href="{% url 'post_update' object.pk %}" class="Postear">Editar</a>
    <a href="{% url 'post_delete' object.pk %}" class="Postear" >Eliminar</a>
    {% endif %}

    <h2>Comentarios</h2>
    <h2>Crea un nuevo Post</h2>
    <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="Postear"> Comenta </button>
    {% for comment in object.comment_set.all %}
        <hr>
        <div>
            <p>{{ comment.author.username }}:<br> {{ comment.content }}</p>
        </div>
        <a href="{% url 'logout' %}" class="logout-button">Cerrar sesión</a>
    {% endfor %}
{% endblock %}