{% extends 'base.html' %} 

{% block title%} Edita Post {% endblock %}
 
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style/post.css' %}" />
<h1>Crea un nuevo Post</h1>
<form method="POST">
   {% csrf_token %}
   {{ form.as_p }}
   <button type="submit" class="Postear"> Edita el Post </button>
</form>
<a href="{% url 'post_detail' object.pk %}" class="Postear">Cancelar</a>
<a href="{% url 'logout' %}" class="logout-button">Cerrar sesión</a>
{% endblock %}