{% extends 'base.html' %}

{% block title %}Detalles del Post{% endblock %}

{% block content %}
    <h1>{{ object.title }}</h1>
    <p>{{ object.content }}</p>
    <p>Creado por: {{object.author}}</p>
    <p>Fecha: {{ object.created_at }}</p>
    <h6>Tags relacionados:</h6>
    {% for tag in object.tags.all %}
    <ul>
        <li>
            <p>{{ tag.name }}</p>
        </li>
    </ul>
    {% endfor %}
    <a href="{% url 'post_update' object.pk %}">Editar</a>
    <a href="{% url 'post_delete' object.pk %}">Eliminar</a>
    
    <h2>Comentarios</h2>
    {% for comment in object.comment_set.all %}
        <hr>
        <div>
            <p>{{ comment.author.username }}:<br> {{ comment.content }}</p>
        </div>
    {% endfor %}
{% endblock %}