@import url("https://fonts.googleapis.com/css?family=Bangers");

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #000000, #5d606b);
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-family: Bangers;
  font-size: 4em;
  background: linear-gradient(
    to top,
    #000000,
    #ff0000,
    #000000
  ); /* Degradado de azul a naranja */
  -webkit-background-clip: text; /* Aplica el degradado al texto */
  color: transparent; /* Hace que el color del texto sea transparente para que se vea el degradado */
  margin-top: 2%;
}

p {
  font-size: 16px;
  color: #ffffff;
}

/* Estilos para mensajes de error */
p[style*="color: red"] {
  color: red;
  font-weight: bold;
}

/* Estilos del formulario */
form {
  background: linear-gradient(to right, #5d606b, #000000);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  background-color: #000000;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s;
}

button:hover {
  background-color: #8b0000; /* Rojo oscuro */
}

/* Estilos para enlaces */
a {
  background: linear-gradient(
    to top,
    #000000,
    #ff0000,
    #000000
  ); /* Degradado de azul a naranja */
  -webkit-background-clip: text; /* Aplica el degradado al texto */
  color: transparent; /* Hace que el color del texto sea transparente para que se vea el degradado */
  margin-top: 2%;
}

a:hover {
  color: #0056b3;
  color: #0056b3;
}
