@import url("https://fonts.googleapis.com/css?family=Bangers");

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #000000, #5d606b);
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
}

h1 {
  font-family: Bangers;
  font-size: 3em;
  line-height: 1.2;
  background: linear-gradient(to top, #000000, #ff0000, #000000);
  -webkit-background-clip: text;
  color: transparent;
  margin: 20px 10px 10px 10px;
  word-break: break-word;
}

/* Ajustes responsivos para h1 */
@media (max-width: 600px) {
  h1 {
    font-size: 2.2em;
  }
}

p {
  font-size: 16px;
  color: #ffffff;
}

p[style*="color: red"] {
  color: red;
  font-weight: bold;
}

form {
  background: linear-gradient(to right, #5d606b, #000000);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
li {
  color: #ffffff;
}
button {
  background-color: #000000;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s;
}

button:hover {
  background-color: #8b0000;
}

a {
  background: linear-gradient(to top, #000000, #ff0000, #000000);
  -webkit-background-clip: text;
  color: transparent;
  margin-top: 10px;
  display: inline-block;
}

a:hover {
  color: #ff4d4d;
}
